body {
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: white;
    align-items: center;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid;
    background-color: lightgray;
    height: 80px;
}


.logo {
    flex: 3;
}

header nav {
    flex: 8;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    flex: 1;
    list-style: none;
    text-decoration: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

.nav1 {
    flex: 1;
    align-items: center;
}

.nav1 ul {
    display: flex;
}

.home {
    color: rgb(20, 99, 99);
}

.section1 {
    display: flex;
}

.homecont {
    position: relative;
    top: 150px;
    left: 100px;

}

.homeimg1 {
    position: relative;
    top: 50px;
    left: 250px;
}

.great {
    color: rgb(20, 99, 99);
    font-size: 40px;
}

.collet {
    color: rgb(20, 99, 99);
    font-size: 50px;
}

.bt1 {
    color: white;
    background-color: rgb(20, 99, 99);
    height: 30px;
    width: 80px;
    border-radius: 10px;
}

.bt1:hover {
    background-color: white;
    color: black;
}

.section2 {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 30px;
    color: rgb(20, 99, 99);
}

.cate {
    color: black;
}

.imacate {
    display: flex;

}

.section3 {
    display: flex;
}

.fig1 {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 200px;
    margin: 10px;
    margin-top: 5px;
    position: relative;
    left: 100px;
}

.section3 figcaption {
    text-align: center;
}

.bt3 {
    background-color: rgb(249, 227, 136);
    color: rgb(20, 99, 99);
    margin-left: 20px;
}

.bt2 {
    position: relative;
    top: 20px;
    left: 100px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.bt4 {
    position: relative;
    top: 20px;
    left: 110px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.bt3 {
    position: relative;
    top: 20px;
    left: 100px;
    height: 50px;
    width: 150px;
    margin: 5px;
}

.bt3:hover {
    color: rgb(20, 99, 99);
    background-color: rgb(249, 227, 136);
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;

}

.products figure {
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    height: 400px;
    width: 250px;
    padding: 5px;
    position: relative;
    top: 50px;
    left: 100px;
}

.star {
    color: gold;
}

.price {
    font-size: 20px;
    color: rgb(20, 99, 99);
}

.cart {
    position: relative;
    left: 100px;
    bottom: 50px;
}

.dealimg {
    position: relative;
    top: 80px;
    left: 100px;
    display: flex;
    gap: 50px;
}

.dealcont {
    position: relative;
    bottom: 230px;
    left: 120px;
}

.dealcont1 {
    position: relative;
    left: 670px;
    bottom: 530px;
}

.bt5 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt6 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt7 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt8 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt9 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt10 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt11 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt12 {
    background-color: rgb(20, 99, 99);
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}

.bt13 {
    border: 1px solid rgb(20, 99, 99);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: rgb(20, 99, 99);
    position: relative;
    right: 200px;
    top: 70px;
}

.bt14 {
    border: 1px solid rgb(20, 99, 99);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: rgb(20, 99, 99);
    position: relative;
    right: 200px;
    top: 70px;
}

.day1 {
    position: relative;
    bottom: 530px;
    left: 120px;
    word-spacing: 25px;
}

.day2 {
    position: relative;
    left: 680px;
    word-spacing: 20px;
    bottom: 245px;
}

.dealcont b aside {
    color: rgb(20, 99, 99);
    font-size: 30px;

}

.dealcont1 b aside {
    color: rgb(20, 99, 99);
    font-size: 30px;

}

.dol {
    color: red;
    font-size: 20px;
}

.doll {
    color: red;
    font-size: 20px;
}

.new {
    position: relative;
    bottom: 480px;
    left: 100px;
}

.na {
    color: rgb(20, 99, 99);
    font-size: 30px;
}

.Arrivals {
    display: flex;
    position: relative;
    left: 100px;
    bottom: 500px;
    padding: 10px;
}

.fig2 {
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    height: 400px;
    width: 250px;
    padding: 5px;
    position: relative;
    top: 50px;
}

.table1 {
    padding: 30px;
    position: relative;
    right: 500px;
    bottom: 450px;
    left: 50px;
}

.footer1b {
    background-color: rgb(63, 152, 152);
    margin-left: 10px;
    padding: 20px;
    position: relative;
    bottom: 450px;
}

.footp {
    margin-left: 300px;
}

[placeholder="Enter your email"] {
    margin-left: 150px;
    height: 30px;
    width: 200px;
}

.bt15 {
    height: 30px;
    color: white;
    background-color: black;
    border: 1px solid;
}

.bt15:hover {
    background-color: rgb(20, 99, 99);
}

.footer2 {
    display: flex;
    gap: 150px;
    background-color: white;
    position: relative;
    bottom: 400px;
    left: 30px;

}

.Address:hover {
    cursor: pointer;
}

.MyAccount:hover {
    cursor: pointer;
}

.line {
    height: 3px;
    width: 80%;
    background-color: black;
    position: relative;
    left: 100px;
    bottom: 350px;
}

.copy ul {
    list-style: none;
    display: flex;
    position: relative;
    bottom: 350px;
    left: 50px;
    gap: 600px;
    font-size: small;
}

[type="search"] {
    border: none;
    width: 160px;
    background-color: lightgray;
    color: black;
}

.bar {
    border: 1px solid;
    width: 180px;
    padding: 5px;
}

.img1 {
    background-image: url("../images/product-1-1.jpg");
    background-image: url("../images/product-1-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img1:hover {
    background-image: url("../images/product-1-2.jpg");

    .eye {
        position: relative;
    }
}

.img2 {
    background-image: url("../images/product-2-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img2:hover {
    background-image: url("../images/product-2-2.jpg");
}

.img3 {
    background-image: url("../images/product-3-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img3:hover {
    background-image: url("../images/product-3-2.jpg");
}

.img4 {
    background-image: url("../images/product-4-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img4:hover {
    background-image: url("../images/product-4-2.jpg");
}

.img5 {
    background-image: url("../images/product-5-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img5:hover {
    background-image: url("../images/product-5-2.jpg");
}

.img6 {
    background-image: url("../images/product-6-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img6:hover {
    background-image: url("../images/product-6-2.jpg");
}

.img7 {
    background-image: url("../images/product-7-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img7:hover {
    background-image: url("../images/product-7-2.jpg");
}

.img8 {
    background-image: url("../images/product-8-1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    height: 250px;
}

.img8:hover {
    background-image: url("../images/product-8-2.jpg");
}

.featured-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 17px;
    margin-left: -7px;
    width: 245px;
    height: 200px;


}

.featured-img>:first-child {
    border-radius: 15px;

}

.featured-items {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 48%;
    left: 50px;
}

.featured-items button {
    border: none;
    padding: 10px;
    background-color: rgb(54, 158, 97);
    border-radius: 100%;
}

.featured-items button:hover {
    background-color: rgb(21, 188, 21);
    color: white;


}

.featured-img button i {
    font-size: 20px;
    background: none;

}

.btn-text-1 {
    display: none;
    padding: 5px;
    position: absolute;
    left: -20px;
    top: -40px;
    top: 53px;
}

.btn-text-2 {
    display: none;
    padding: 5px;
    position: absolute;
    left: 2px;
    top: 70px;
}

.btn-text-3 {
    display: none;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: -30px;
}

.btn-icon {
    top: -100px;
    position: relative;
    margin-left: 20px;
    width: 50px;
    background-color: rgb(145, 158, 145);
    color: black;
    border: none;
    justify-content: space-around;
    padding: 2px;

}

.btn-icon:hover .btn-text-1 {
    display: block;
    margin-top: -80px;

}

.btn-icon:hover .btn-text-2 {
    display: block;
    margin-top: -100px;
    margin-left: -10px;

}

.btn-icon:hover .btn-text-3 {
    display: block;
    margin-left: -18px;
}

.featured-img-overflow {
    position: absolute;
    opacity: 0;
    transition: all 0.7s linear 0.2s;
}

.featured-img-overflow img {
    border-radius: 15px;


}

.featured-img-overflow:hover {
    transform: scaleY(1.05);
    cursor: pointer;
    opacity: 1;
    margin-top: 50px;

}

.featured-img p {
    display: flex;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: palevioletred;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 10px;
    color: white;
}

.featured-text {
    padding: 10px;
    display: flex;
    align-items: center;
}

.featured-text>:first-child {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.featured-text p {
    font-size: 14px;
    font-weight: 200;
    color: gray;
}

.featured-text h4 {
    font-size: 17px;
    font-weight: 500;
}

.featured-star i {
    font-size: 12px;
    color: #f9b434;
}

.eighteen {
    border: 1px solid rgb(253, 205, 205);
    padding: 5px;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}

.cart {
    margin-left: 100px;
    margin-top: -20px;

}

.imgcont {
    position: relative;
    top: 50px;
}

.star {
    color: gold;
}

.featured-img {
    position: relative;
    left: 5px;
    top: 10px;
}

.featured-card {
    border: 1px solid;
    border-radius: 10px;
    height: 450px;
}

.prodt {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    left: 100px;
    top: 50px;
}
.eye1{
    background-color:gray;
}
