body {
    overflow-x: hidden;
}
.mainhead{
    display: flex;
    background-color: white;
    align-items: center;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid;
    background-color: lightgray;
    height: 80px;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 10px;
}

.logo {
    flex: 3;
}

header nav {
    flex: 8;
}

header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;

}

header ul li {
    flex: 1;
}

.shop {
    color: rgb(20, 99, 99);
}

header ul li a {
    text-decoration: none;
    color: black;
}

.nav1 {
    flex: 1;
}

.header1 {
    background-color: gray;
    height: 50px;
}

.headercnt {
    margin-left: 50px;
}

.shophead {
    margin-left: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;

}

.products figure {
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    height: 400px;
    width: 250px;
    padding: 5px;
    position: relative;
    top: 50px;
    left: 100px;
}

.star {
    color: gold;
}

.price {
    font-size: 20px;
    color: rgb(20, 99, 99);
}

.cart {
    position: relative;
    left: 220px;
    bottom: 50px;
}

.page p {
    position: relative;
    left: 600px;
    top: 50px;
}

.page i {
    border: 1px solid;
    background-color: aqua;
    border-radius: 2px;
}

.footer1b {
    background-color: rgb(63, 152, 152);
    margin-top: 90px;
    padding: 20px;

}

.footp {
    margin-left: 300px;
}

[placeholder="Enter your email"] {
    margin-left: 150px;
    height: 30px;
    width: 200px;
}

.bt15 {
    height: 30px;
    color: white;
    background-color: black;
    border: 1px solid;
}

.bt15:hover {
    background-color: rgb(20, 99, 99);
}

.footer2 {
    display: flex;
    gap: 150px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 30px;

}

.Address:hover {
    cursor: pointer;
}

.MyAccount:hover {
    cursor: pointer;
}

.line {
    height: 3px;
    width: 80%;
    background-color: black;
    position: relative;
    left: 100px;
    top: 5px;
}

.copy ul {
    list-style: none;
    display: flex;
    position: relative;
    left: 50px;
    gap: 600px;
    font-size: small;
}
[type="search"]{
    border: none;
    width: 160px;
    background-color: lightgray;
    color: black;
}
.bar{
    border: 1px solid;
    width: 180px;
    padding: 5px;
}